h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
font-family: Roboto, sans-serif;
color: #434455;
background-color: #FFF;
line-height: 1.5;
}

.container {
  max-width: 1158px;
  padding-left: 15px; 
  padding-right: 15px;
  margin-left: auto;
  margin-right:auto;
}

.header-container {
  display: flex;
}

/*Header*/
.header {
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: var(--WHITE, #FFF);
}

ul, a {
list-style-type: none;
text-decoration: none;
}

.navigation {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.logo {
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
letter-spacing: 0.54px;
line-height: 1.17;
text-transform: uppercase;
color: #4D5AE5;
display: inline-flex;
height: 24px;
align-items: center;
flex-shrink: 0;
padding-top: 15px;
padding-bottom: 15px;
}

.logo-color {
color: var(--NAVY-BLUE, #2E2F42);
}

.menu {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-left: -5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-item {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 16px;
font-weight: 500;
letter-spacing: 0.32px;
padding: 24px 0;
}

.menu-item-hover {
color: var(--OCEAN, #404BBF);
font-size: 16px;
font-weight: 500;
letter-spacing: 0.32px;
}

.menu-item-link {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 16px;
font-weight: 500;
letter-spacing: 0.02em;
  flex-basis: calc((100% - 80px)/3);
}

.menu-item-link:hover,
.menu-item-link:focus,
.menu-item-link:active {
color: var(--OCEAN, #404BBF);
font-size: 16px;
font-weight: 500;
letter-spacing: 0.32px;
}

address {
font-style: normal;
}

.contacts {
 display: flex; 
 gap: 40px;
 padding-top: 15px;
 padding-bottom: 15px;
 margin-left: 332px;
}

.contacts-item {
color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
letter-spacing: 0.32px;
}

.contacts-item:hover,
.contacts-item:focus {
color: var(--OCEAN, #404BBF);
}

/*Section 1*/
.section-one {
background-color: var(--NAVY-BLUE, #2E2F42);
  padding-top: 188px;
  padding-bottom: 188px;
}


.header-one {
color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
max-width: 496px;

}
button {
cursor: pointer;
}

.button-text {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    text-align: center;
    line-height: 1.5;
    min-width: 169px;
    border: none;
    height: 56px;
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: 636px;
    
}

.button-text:hover,
.button-text:focus {
background-color: #404BBF;
}

/*Section 2*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin-bottom: 8px;
}

.section-two {
  background-color: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.header-two {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
margin-bottom: 72px;
}

.feature {
display: flex;
flex-direction: row;
align-items: flex-start;
gap: 24px;
margin-left: 156px;
padding-top: 72px;
}

.feature-item {
display: flex;
width: calc((100% - 72px) / 4);
flex-direction: column;
align-items: flex-start;
gap: 8px;
}


.feature-components {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
margin-bottom: 8px;
}

.body-text {
color: var(--SLATE, #434455);
font-size: 16px;
letter-spacing: 0.32px;
}

/*Section 3*/

.section-three {
background-color: var(--CLOUD, #F4F4FD);
padding-top: 120px;
padding-bottom: 120px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  margin-left: 156px;
  margin-top: 72px;
  flex-wrap: wrap;
}

.card-item {
background-color: #FFFFFF;
display: inline-flex;
flex-basis: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
 padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 32px;
  padding-top: 32px;
}
/* Section 4 - Portfolio*/

.section-four {
  background-color: #FFF;
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-item-portfolio {
  background-color: #FFFFFF;
  display: inline-flex;
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-content-portfolio {
  display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding-bottom: 32px;
      padding-top: 32px;
      border: 1px solid #e7e9fc;
      border-top: none;
}

.team-members {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
margin-bottom: 8px;
}

.team-members-profession {
color: var(--SLATE, #434455);
text-align: center;
font-size: 16px;
letter-spacing: 0.32px;
}

.portfolio-item {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
margin-bottom: 8px;
  }

.portfolio-item-description {
color: var(--SLATE, #434455);
font-size: 16px;
letter-spacing: 0.32px;
}

/*Footer*/

.footer {
background: var(--NAVY-BLUE, #2E2F42);
padding: 100px 0;
}

.logo-footer {
color: #4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  padding-top: 100px;
  padding-left: 156px;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-color {
color: #f4f4fd;
}

.footer-paragraf {
color: var(--CLOUD, #F4F4FD);
font-size: 16px;
font-weight: 400;
letter-spacing: 0.32px;
padding-top: 16px;
padding-left: 156px;
padding-right: 1020px;
padding-bottom: 100px;
}





